<html>
    <head>
        <title>House Price Prediction</title>

        <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" > -->
            <link type="text/css" rel="stylesheet" href="/static/style.css" >
    </head>

    <body>
         <h1>House Price Prediction</h1>

         <div class="input">
            <p>Area: </p>
            <input type="text">
            <button>Predict</button>
         </div>

         <div>
            Predicted Price: --
         </div>
    </body>
</html>